/* Header */
.header_logo
.logo {
  width: 180px;
  height: 180px;
}


.header_title
.title01 {
  font-size: 300%;
  position: absolute;
  right: 10px;
  top: 10px
}


.picture_man {   
  max-width: 100%;
  clear: both; 
  display: block; 
  margin:auto;
}