/* Header */
.header_logo
.logo {
  width: 120px;
  height: 120px;
}


.header_title
.title01 {
  font-size: 200%;
  position: absolute;
  right: 10px;
  top: 10px
}


.cutting_line {
    border: 0;
    color: white;
    background-color: white; 
    height: 1;
}





