
/* Header 
.header_inner {
  width: 100%;
  display: flex;
  justify-content: space-between 
}
*/


.header_logo
.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}


.header_title
.title01 {
  font-size: 110%;
  position: absolute;
  right: 10px;
  top: 10px
  
}


/* Navigation */
.navbar
.guide {
	position: absolute;
    right: 10px;
}


.cutting_line {
    border: 0;
    color: white;
    background-color: white; 
    height: 10px;
}



/* Content */

.picture_man {   
    max-width: 100%;
} 

h2,
.paragraph {
  width: 250px;
  height: auto;
}

.foods_picture,
.food,
.traniner_picture,
.traniner,
.cat,
.sleeping_cat {
  width: 250px;
  height: 170px;

}


.first_part,
.second_part,
.thirth_part {
	text-align: center;
}	
	

.container {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}